In [142]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [143]:
drugs_2016 = pd.read_csv('../Data/state-drug-utilization-data-2016.csv')
drugs_2017 = pd.read_csv('../Data/state-drug-utilization-data-2017.csv')
drugs_2018 = pd.read_csv('../Data/state-drug-utilization-data-2018.csv')
drugs_2019 = pd.read_csv('../Data/state-drug-utilization-data-2019.csv')
drugs_2020 = pd.read_csv('../Data/state-drug-utilization-data-2020.csv')

F:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [144]:
drugs_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4671847 entries, 0 to 4671846
Data columns (total 15 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Utilization Type                object
 1   State                           object
 2   NDC                             int64
 3   Labeler Code                    int64
 4   Product Code                    int64
 5   Package Size                    int64
 6   Year                            int64
 7   Quarter                         int64
 8   Suppression Used                bool
 9   Product Name                    object
 10  Units Reimbursed                float64
 11  Number of Prescriptions         float64
 12  Total Amount Reimbursed         float64
 13  Medicaid Amount Reimbursed      float64
 14  Non Medicaid Amount Reimbursed  float64
dtypes: bool(1), float64(5), int64(6), object(3)
memory usage: 503.5+ MB

In [145]:
mortality = pd.read_csv('../Data/drug-mortality-2016.csv')

In [146]:
mortality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    450 non-null    int64
 1   STATE   450 non-null    object
 2   RATE    450 non-null    float64
 3   DEATHS  450 non-null    int64
 4   URL     450 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 17.7+ KB

In [147]:
mortality_2016 = mortality[(mortality['YEAR'] == 2016)]
mortality_2017 = mortality[(mortality['YEAR'] == 2017)]
mortality_2018 = mortality[(mortality['YEAR'] == 2018)]
mortality_2019 = mortality[(mortality['YEAR'] == 2019)]
mortality_2020 = mortality[(mortality['YEAR'] == 2020)]

In [148]:
#Starting by looking at what states have the highest and lowest mortality rate and amount of deaths
#Then begin research on narcotics to gain information about legally perscribed amounts.
mortality_2016.nlargest(5, 'RATE')

,YEAR,STATE,RATE,DEATHS,URL
247,2016,WV,52.0,884,/nchs/pressroom/states/westvirginia/westvirgin...
234,2016,OH,39.1,4329,/nchs/pressroom/states/ohio/ohio.htm
228,2016,NH,39.0,481,/nchs/pressroom/states/newhampshire/newhampshi...
237,2016,PA,37.9,4627,/nchs/pressroom/states/pennsylvania/pennsylvan...
216,2016,KY,33.5,1419,/nchs/pressroom/states/kentucky/kentucky.htm

In [149]:
mortality_2016.nlargest(5, 'DEATHS')

,YEAR,STATE,RATE,DEATHS,URL
208,2016,FL,23.7,4728,/nchs/pressroom/states/florida/florida.htm
204,2016,CA,11.2,4654,/nchs/pressroom/states/california/california.htm
237,2016,PA,37.9,4627,/nchs/pressroom/states/pennsylvania/pennsylvan...
234,2016,OH,39.1,4329,/nchs/pressroom/states/ohio/ohio.htm
231,2016,NY,18.0,3638,/nchs/pressroom/states/newyork/newyork.htm

In [150]:
mortality_2016.nsmallest(5, 'RATE')

,YEAR,STATE,RATE,DEATHS,URL
226,2016,NE,6.4,120,/nchs/pressroom/states/nebraska/nebraska.htm
240,2016,SD,8.4,69,/nchs/pressroom/states/southdakota/southdakota...
242,2016,TX,10.1,2831,/nchs/pressroom/states/texas/texas.htm
214,2016,IA,10.6,314,/nchs/pressroom/states/iowa/iowa.htm
233,2016,ND,10.6,77,/nchs/pressroom/states/northdakota/northdakota...

In [151]:
mortality_2016.nsmallest(5, 'DEATHS')

,YEAR,STATE,RATE,DEATHS,URL
240,2016,SD,8.4,69,/nchs/pressroom/states/southdakota/southdakota...
233,2016,ND,10.6,77,/nchs/pressroom/states/northdakota/northdakota...
249,2016,WY,17.6,99,/nchs/pressroom/states/wyoming/wyoming.htm
225,2016,MT,11.7,119,/nchs/pressroom/states/montana/montana.htm
226,2016,NE,6.4,120,/nchs/pressroom/states/nebraska/nebraska.htm

In [152]:
drugs_2016.dropna()

,Utilization Type,State,NDC,Labeler Code,Product Code,Package Size,Year,Quarter,Suppression Used,Product Name,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed
1,MCOU,XX,591216039,591,2160,39,2016,1,False,PROMETHAZI,1576.000,189.0,12754.97,12630.93,124.04
11,MCOU,XX,55150015520,55150,155,20,2016,2,False,ACYCLOVIR,2943.447,45.0,4178.11,4178.11,0.00
13,MCOU,XX,4040509,4,405,9,2016,1,False,MIRCERA,211.200,28.0,6066.92,6066.92,0.00
16,FFSU,XX,68982018202,68982,182,2,2016,3,False,"WILATE 1,0",625540.000,20.0,634658.31,634658.31,0.00
19,MCOU,XX,51079049801,51079,498,1,2016,2,False,LAMOTRIGIN,99.000,32.0,31.64,31.64,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4671842,MCOU,XX,50458059150,50458,591,50,2016,2,False,RISPERIDON,81615.000,1886.0,14472.42,14191.92,280.50
4671843,MCOU,XX,832102410,832,1024,10,2016,2,False,BACLOFEN 1,802710.647,11454.0,189212.75,187439.73,1773.02
4671844,MCOU,CA,781210401,781,2104,1,2016,4,False,TACROLIMUS,8541.000,60.0,21420.65,21420.65,0.00
4671845,MCOU,XX,59762332801,59762,3328,1,2016,2,False,CLINDAMYCI,141820.000,3250.0,22981.39,22531.78,449.61
4671846,MCOU,MS,65862000501,65862,5,1,2016,2,False,CITALOPRAM,1787.000,58.0,486.72,390.72,96.00

In [154]:
drugs_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4671847 entries, 0 to 4671846
Data columns (total 15 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Utilization Type                object
 1   State                           object
 2   NDC                             int64
 3   Labeler Code                    int64
 4   Product Code                    int64
 5   Package Size                    int64
 6   Year                            int64
 7   Quarter                         int64
 8   Suppression Used                bool
 9   Product Name                    object
 10  Units Reimbursed                float64
 11  Number of Prescriptions         float64
 12  Total Amount Reimbursed         float64
 13  Medicaid Amount Reimbursed      float64
 14  Non Medicaid Amount Reimbursed  float64
dtypes: bool(1), float64(5), int64(6), object(3)
memory usage: 503.5+ MB

In [159]:
 drugs_2016 = drugs_2016.astype({'Product Name':'string'})

In [161]:
drugs_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4671847 entries, 0 to 4671846
Data columns (total 15 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Utilization Type                object
 1   State                           object
 2   NDC                             int64
 3   Labeler Code                    int64
 4   Product Code                    int64
 5   Package Size                    int64
 6   Year                            int64
 7   Quarter                         int64
 8   Suppression Used                bool
 9   Product Name                    string
 10  Units Reimbursed                float64
 11  Number of Prescriptions         float64
 12  Total Amount Reimbursed         float64
 13  Medicaid Amount Reimbursed      float64
 14  Non Medicaid Amount Reimbursed  float64
dtypes: bool(1), float64(5), int64(6), object(2), string(1)
memory usage: 503.5+ MB

In [165]:
opiods_2016 = drugs_2016[drugs_2016["Product Name"].str.contains("MORPHINE")]

In [207]:
#Created a list of opioids and benzodiazepines which are both the most common subset of drugs that 
#are overdosed on. 

searchfor = ['Hydrocodone', 'HYDROCODONE', 'MORPHINE', 'Morphine','FENTANYL','fentanyl','Oxycodone', 'OXYCODONE'
             'Oxymorphone','OXYMORPHONE','CODEINE','Codeine','VICODIN','Vicodin','PERCOCET','Percocet','OPANA','Opana',
             'OXYCONTIN','OxyContin','avinza','AVINZA','METHADONE','Methadone','ALPRAZOLAM','Alprazolam', 'XANAX','xanax'
            ,'clonazepam' 'CLONAZEPAM','KLONOPIN','Klonopin', 'diazepam' , 'DIAZEPAM', 'VALIUM', 'Valium', 
             'lorazepam', 'LORAZEPAM','ATIVAN','Ativan']
opioids_2016 = drugs_2016[drugs_2016["Product Name"].str.contains('|'.join(searchfor))]

In [208]:
opioids_2016['Product Name'].unique()

<StringArray>
[  'DIAZEPAM', 'KLONOPIN 1',  'LORAZEPAM', 'MORPHINE S',  'METHADONE',
  'Oxycodone', 'ALPRAZOLAM', 'MORPHINE 1', 'FENTANYL C', 'FENTANYL 1',
 ...
  'ATIVAN .5', 'MORPHINE 0', 'OPANA (OXY', 'FENTANYL 8',  'XANAX 1.0',
     'VALIUM',     'AVINZA', 'OPANA 10 M', 'OPANA 10MG',  'AVINZA 90']
Length: 114, dtype: string

In [209]:
opioids_2016

,Utilization Type,State,NDC,Labeler Code,Product Code,Package Size,Year,Quarter,Suppression Used,Product Name,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed
40,MCOU,XX,54820716,54,8207,16,2016,4,True,DIAZEPAM,NaN,NaN,NaN,NaN,NaN
59,FFSU,XX,4005832,4,58,32,2016,2,True,KLONOPIN 1,NaN,NaN,NaN,NaN,NaN
128,MCOU,XX,641604525,641,6045,25,2016,4,False,LORAZEPAM,31.0,24.0,264.00,264.00,0.00
160,MCOU,XX,228205710,228,2057,10,2016,1,True,LORAZEPAM,NaN,NaN,NaN,NaN,NaN
174,MCOU,XX,406839062,406,8390,62,2016,1,False,MORPHINE S,3139.0,45.0,7029.95,7017.95,12.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4671591,MCOU,KY,603321528,603,3215,28,2016,2,False,DIAZEPAM,4452.0,73.0,123.11,123.11,0.00
4671612,MCOU,CA,641604825,641,6048,25,2016,3,False,LORAZEPAM,182.0,156.0,41718.54,798.92,40919.62
4671659,MCOU,XX,66689069430,66689,694,30,2016,1,False,METHADONE,41980.0,42.0,2840.69,2835.69,5.00
4671761,FFSU,XX,406831501,406,8315,1,2016,1,False,MORPHINE S,485719.0,8675.0,286062.58,279290.66,6771.92
4671806,MCOU,XX,51079038720,51079,387,20,2016,1,False,LORAZEPAM,899.0,94.0,121.88,121.88,0.00

In [210]:
opioids_2016.drop(opioids_2016[opioids_2016['State'] == 'XX'].index, inplace = True)

F:\Anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [213]:
#Final list of just states and there highly dangerous drug uses
#DC IS LISTED AS A STATE NOT TRUE
opioids_2016.State.unique()

array(['IL', 'KY', 'MN', 'IA', 'MI', 'OH', 'NY', 'FL', 'NM', 'OK', 'GA',
       'VA', 'NC', 'TN', 'PA', 'HI', 'TX', 'CA', 'MD', 'WV', 'IN', 'NJ',
       'AL', 'SC', 'WA', 'NV', 'KS', 'AZ', 'UT', 'LA', 'NH', 'DE', 'DC',
       'MS', 'AR', 'SD', 'ID', 'MO', 'ND', 'CT', 'MA', 'NE', 'CO', 'AK',
       'OR', 'WI', 'RI', 'WY', 'ME', 'VT', 'MT'], dtype=object)